<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Create a new account</h1>
    <% if (locals.errorMessage) { %>
        <p><%= errorMessage %> </p>
    <% } %>
    <form action="/register" method="POST">
        <input type="text" placeholder="Username" name="username" value="<%= locals.username ? username : '' %>">
        <br>
        <input type="password" placeholder="Password" name="password" value="<%= locals.password ? password : '' %>">
        <br>
        <input type="password" placeholder="Confirm Password" name="confirmPassword" value="<%= locals.confirmPassword ? confirmPassword : '' %>">
        <br>
        <button>Register</button>
    </form>
</body>
</html>